# APP
HOST=localhost
PORT=8000
RELOAD=true
ALLOWED_ORIGINS=["http://localhost:5174","http://localhost:8080"]

# POSTGRES
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=postgres
DB_PORT=5432
DB_NAME=postgres

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres